.body-container{
    display: grid;
    justify-items: center;
    height: 100%;
    padding-top: 5%;
    position: relative;
}

.add-task-button{
    font-size: 20px;
    height: 10vh;
    margin-bottom: 5vh;
    width: 15%;
}

.task-button{
    font-size: 20px;
    height: 10vh;
    margin-bottom: 5vh;
    width: 100%;
}

.tasklist-container{
    display: grid;
    justify-items: center;
    font-size: 20px;
    width: 25%;
}